####################################################
# Cấu hình Database (MySQL)
####################################################
DB_NAME=ECommerce
DB_HOST_MYSQL=127.0.0.1
DB_PORT_MYSQL=3306
DB_USER_MYSQL=root
# Bạn của bạn phải điền mật khẩu MySQL của họ vào đây:
DB_PASSWORD_MYSQL=
DB_PARAMS="parseTime=true&loc=Asia%2FHo_Chi_Minh"

####################################################
# Cấu hình Bảo mật
####################################################
JWT_SECRET=YOUR_SECRET_KEY_VERY_SECURE

####################################################
# Cấu hình Server & Login Mạng Xã Hội
####################################################
VITE_API_BASE_URL=http://localhost:5371
GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret

####################################################
# Cấu hình Cloudinary (Upload ảnh)
####################################################
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_UPLOAD_FOLDER=ecommerce/products
CLOUDINARY_REVIEW_UPLOAD_FOLDER=ecommerce/reviews

####################################################
# Cấu hình SMTP (Gửi email OTP)
####################################################
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
# Điền email và app password của người gửi:
SMTP_USERNAME=yourmail@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM=yourmail@gmail.com
SMTP_FROM_NAME="KC Tech"

OTP_EXPIRE_MINUTES=3
